:root {
  /* Primary color shades */
  --md-primary-fg-color: #00305d;
  --md-primary-fg-color--light: ...;
  --md-primary-fg-color--dark: ...;
  --md-primary-bg-color: #ccc;
  --md-primary-bg-color--light: #eee;

  /* Accent color shades */
  --md-accent-fg-color: #3c85ac;
  --md-accent-fg-color--transparent: ...;
  --md-accent-bg-color: ...;
  --md-accent-bg-color--light: ...;
}

#logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #00305d;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  z-index: 1000;
}
